include	.bzrignore
include .gitignore
include LICENSE.txt
include MANIFEST
include MANIFEST.in
include PKG-INFO
include README.*
include setup_data.py
recursive-include bin *
recursive-include doc *
recursive-include gh-pages *
recursive-include share *
recursive-include tools *
recursive-include unit-test *.py
recursive-include PyGlfwCffi glfw3-api.h
prune build
prune doc/build
